<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622722741201-acsn1foiu2k46dn7h3ljtav2po7id22f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622722741201-acsn1foiu2k46dn7h3ljtav2po7id22f</string>
	<key>API_KEY</key>
	<string>AIzaSyDnJdKnmJJA-8LhRTklOb3dFUFa-dr7SYE</string>
	<key>GCM_SENDER_ID</key>
	<string>622722741201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cecasem.cecasemNutricionApp</string>
	<key>PROJECT_ID</key>
	<string>cecasem-nutrition-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cecasem-nutrition-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622722741201:ios:d7eda8677e199d7a5466f0</string>
</dict>
</plist>